body{
  background-color:#6497b1 ;
  margin:0;
  font-family:"Times New Roman", Times, serif;

}
.app-root{
  position:relative;
  overflow:hidden;
}
.appTitle{
  background-color:black;
  color:white;
  width:100%;
  height:35px;
  text-align:center;
  font-size:30px;
}
.device{
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  border: 3px white solid;
  background-color:teal;
  margin:10px;
}

#box-root, #addBox, #button-root{
  width:150px;
  height:150px;
  border-radius:5px;
  background-color:white;
  border:5px black solid;
  margin:10px;
  display:inline-block;
  text-align:center;
  box-sizing: border-box;
  position:relative;
  word-wrap:normal;
  text-align: center;
}
#boxImage{
  border:1px black solid;
  position:absolute;
  bottom:3px;
  width:90%;
  height:auto;

}
.exitBox {
  position:absolute;
  top:0;
  right:0;
  color:black;
  font-size:8pt;
  display:inline-block;
}
button, #imageLbl{
  cursor:grab;
  
}
button:hover{
  background-color:gray;
}
.header {
  display:flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content:flex-end;
}
#titleBlock{
  border-bottom:black solid 3px;
  border-top:black solid 3px;
  margin-bottom:20px
}
#titleLabel {
  margin:10px;
  text-align:center;
}
#title {
  border-radius:1px;
  border:1px black solid;
  font-variant: small-caps;
  height:30px;
  width:300px;
  margin:10px;
  text-align:center;
}
#newDevice, #add, #search{
  border:3px black solid;
  width:100px;
  height:30px;
  font-size:15px;
  margin:10px;
}
.headerEnabled{
  background-color:green;
}
#saveButton {
  border:3px black solid;
  width:auto;
  height:30px;
  font-size:15px;
  margin:10px;
}
#titleBlock {
  display:flex;
  flex-direction:row;
  justify-content:center;
}
#sentenceBlock {
  display:flex;
  flex-direction:row;
  background-color:white;

}
#sentence {
  width:100%;
  height:30px;
  font-family:"Times New Roman", Times, serif;
  color:black;
  font-size:30px;
}
#clear{
  width:auto;
  margin:5px;
  background-color:gray;
  font-variant:small-caps;
}
.text, .boxText{
  font-family: "Times New Roman", Times, serif;
  font-size: 25px;
  font-variant:small-caps;
}
.image .boxImage{
  border: 3px black solid;
  margin-top:5px;
  height:100px;
}
#inputText {
  width:80%;
  margin:10%;
}
#submit {
  width:80%;
  margin-top:10%;
  height:15%;
  font-variant:small-caps;
  font-family:"Times New Roman", Times, serif;
  background-color: powderblue;
}
#submit:hover{
  background-color:darkgray;
}
#uploadButton{
  width:90%;
  margin:10%;
  border:black solid 1px;
  padding:2px;
  height:10px;
}
#uploadButton:hover{
  background-color:darkgray;
}
#upload{
  display:none;
}
#popup {
  position:absolute;
  top:20px;
  right:55%;
  border:black solid 5px;
  border-radius:5px;
  background-color:#03396c;
  color:white;
  padding:20px;
  height:auto;

}
.exit{
  position:absolute;
  top:0;
  right:0;
  color:black;
}
#deviceName {
  color:white;
  margin:10%;
  width:80%;
}
.visible {
  visibility: visible;
  overflow:visible;
  display:flex;
  flex-direction:column;
}
.hidden {
  visibility:hidden;
  overflow:hidden;
}
.progress {
  position:fixed;
  right:25%;
  top:50%;
  width:50%;
  height:25px;
  border-radius:6px;
  background-color:black;
  border: black 3px solid;
}
.insideBar{
  height:23px;
  border-radius:6px;
  background-color:tomato;
  animation:fill 8s infinite linear; 
  width:0%;
}

@keyframes fill {
  from {width:0;}
  to{width:99%;}
}