.root{
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
}
.box{
  width:150px;
  height:150px;
  border-radius:5px;
  background-color:white;
  border:5px black solid;
  margin:10px;
}
.text{
  font-family: "Times New ROman", Times, serif;
}
.image{
  border: 3px black solid;
  margin-top:5px;
}