body{
  background-color:#6497b1 ;
  margin:0;
}
.app-root{
  position:relative;
}
.device{
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
}

#box-root, #addBox{
  width:150px;
  height:150px;
  border-radius:5px;
  background-color:white;
  border:5px black solid;
  margin:10px;
  display:inline-block;
  text-align:center;
  box-sizing: border-box;
  position:relative;
}
.exitBox {
  position:absolute;
  top:0;
  right:0;
  color:black;
  font-size:8pt;
  display:inline-block;
}
button{
  cursor:grab;
  font-family:"Times New Roman", Times, serif;

}
button:hover{
  background-color:gray;
}
.header {
  display:flex;
  flex-direction:row;
  flex-wrap: wrap;
}
#titleLabel {
  margin:10px;
  text-align:center;
}
#title {
  border-radius:1px;
  border:1px black solid;
  font-variant: small-caps;
  height:30px;
  width:300px;
  margin:10px;
  text-align:center;
}
.saveButton, .search, .add{
  border:3px black solid;
  width:100px;
  height:30px;
  font-size:15px;
  margin:10px;
}
#sentenceBlock {
  display:flex;
  flex-direction:row;
  background-color:white;
  border:3px black solid;
}
#sentence {
  width:100%;
  height:30px;
  font-family:"Times New Roman", Times, serif;
  color:black;
  font-size:30px;
}
#clear{
  border:3px black solid;
  width:auto;
  margin:5px;
  background-color:gray;
  font-variant:small-caps;
}
.text{
  font-family: "Times New Roman", Times, serif;
  font-size: 25px;
}
.image{
  border: 3px black solid;
  margin-top:5px;
  height:100px;
}
#inputText {
  width:80%;
  margin:10%;
}
#upload, #submit {
  width:80%;
  margin-top:10%;
  height:15%;
  font-variant:small-caps;
  font-family:"Times New Roman", Times, serif;
}
#popup {
  position:absolute;
  right:50%;
  top:50%;
  border:black solid 5px;
  border-radius:5px;
  background-color:#03396c;
  color:white;
  padding:20px;
  height:auto;
}
.exit{
  position:absolute;
  top:0;
  right:0;
  color:black;
}
#deviceName {
  color:white;
  margin:10%;
  width:80%;
}
.visible {
  visibility: visible;
  overflow:visible;
  display:flex;
  flex-direction:column;
}
.hidden {
  visibility:hidden;
  overflow:hidden;
}